[package]
name = "history"
version = "0.3.0"
edition = "2024"

[dependencies]
thiserror = "2.0"

[dev-dependencies]
criterion = "0.7"
proptest = "1.9"
proptest-derive = "0.7"
rand = "0.9"

[[bench]]
name = "benchmark"
harness = false
